body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  display: block;
}
.container {
  width: 1158px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
  margin-right: 0;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header {
  background-color: #fff;
  display: flex;
  list-style: none;
  margin: 0;
  border-bottom: 1px solid #e7e9fc;
}
.address-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-studio {
  color: #2e2f42;
}

.nav-container {
  display: flex;
  list-style: none;
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav {
  display: flex;
  list-style: none;
  margin: 0 332px 0 0;
  gap: 40px;
}
.address-container {
  display: flex;
  list-style: none;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;
  justify-content: flex-end;
}

.nav-list:hover {
  color: #404bbf;
}
.nav-list:focus {
  color: #404bbf;
}
.address-text:hover {
  color: #404bbf;
}

.address-text:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.section-hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 4px;
  padding: 16px 32px;
}

.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}
.section-features-list {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  justify-content: space-between;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-features-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  list-style: none;
  margin: 0;
  padding: 0;
}
.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 32px;
}

.section-team {
  background-color: #f4f4fd;
}
.team {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  justify-content: space-between;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: 16px;
  margin-bottom: 32px;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-left: 16px;
  margin-bottom: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  list-style: none;
  margin: 0;
}

.section-list-item {
  width: calc((100% - 72px) / 4);
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}
.border {
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding-top: 32px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #f4f4fd;
  margin-top: 16px;
}
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  margin-right: 864px;
}
.footer-logo-studio {
  color: #f4f4fd;
}
